.login__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-self: center;
  /* border: 1px solid darkblue; */
  border-radius: 12px;
  /* padding: 20px; */
  box-shadow: 0 5px 10px 1px rgb(184, 184, 184);
}

.login__form > input {
  margin: 10px 10px;
  height: 40px;
  font-size: large;
  border-radius: 12px;
  border: 1px solid rgb(194, 194, 194);
  padding-left: 2%;
}
.login__form > input:nth-child(4) {
  width: 20%;
  align-self: center;
  padding: 0;
  background-color: rgb(30, 226, 30);
  border: 1px solid rgb(194, 194, 194);
}

.login__form > h1 {
  color: rgb(59, 59, 59);
  background-color: rgb(194, 194, 194);
}

.login {
  display: flex;
  flex-direction: column;
  align-self: center;
  /* min-height: 100vh; */
  margin-top: 200px;
}

@media (max-width: 768px) {
  .login__form {
    width: 90%;
  }
  .login {
    min-height: auto;
  }
}

@media (min-width: 1024px) {
  .login__form {
    width: 20%;
  }
}
