.urlcard {
  /* border: 1px solid lightgray; */
  width: 50%;
  margin: 20px 0;
  border-radius: 12px;
  display: flex;
  align-items: flex-start;
  padding-left: 20px;
  align-items: center;
  box-shadow: 0 0 5px 1px darkgray;
}
.urlcard__links {
  text-align: left;
}
.urlcard__buttons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}
